@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
  margin:0;
  padding:0
}
.app-container {
  background-color: #f2f2f2;
  text-align: center;
  padding:20px 0
}
.logo {
  color: #2ecc71;
  font-family: Fredoka One;
  font-size: 30px;
  margin-bottom:25px;
}
.single-document-div {
  min-width: 90%;
  min-height:100vh
}
.single-document {
  min-width: 70%;
  max-width: 70%;
  min-height: 80vh;
  border:none;
  box-shadow: 1px 1px 30px silver;
  border-radius:5px;
  padding:10vh 10vw;
}
.form-control {

}
.choose-recipient-document-form {
  margin:10px 0;
}
.choose-recipient-div {
  max-width:70%;
  margin:auto
}
.btn {
  max-height: 40px;
  color: #2ecc71;
  font-size: 18px;
  border: 2px #2ecc71 solid;
  background-color: Transparent;
}
.top-nav-row {
  min-width: 70%;
  max-width: 70%;
  margin: 10px auto;
}
.top-nav > a {
  color:white;
  font-size:22px;

}
.top-nav {
  font-family: Quicksand;
  background-color:#2ecc71;
  color:#2ecc71;
  text-align: center;
  border:3px #f2f2f2 solid;
  border-radius: 5px;
  padding:0 -50px;
}
.option-select {
  margin-right:4px;
}
